@charset "utf-8";
/* CSS Document */

/***** Home *****/
/***** Home END *****/

/***** Help *****/
.mg-bg-oscarPrimary { 
	background-color: #4776BF;
}
/***** Help END *****/

/***** Personal *****/
/***** Pesonal END *****/

/***** Professional Development *****/
.pd-card-body-height {
	height: 12rem;
	  }
	  a {
		  color: black
	  }
	  a.pd-hover:hover { 
		  top: -10px;
box-shadow: 3px 3px 12px 0 rgba(81,81,81,.2);
	  }
	  .border-gbta-purple {
  border-top: 5px solid #92278F !important;
	  }
	   .border-gbta-green {
  border-top: 5px solid #7DC242 !important;
	  }
	   .border-gbta-blue {
  border-top: 5px solid #1F4A98 !important;
	  }
	   .text-gbta-purple {
  color: #92278F;
	  }
	   .text-gbta-green {
  color: #7DC242;
	  }
	   .text-gbta-blue {
  color: #1F4A98;
	  }
	  h3.pd-heading3 {
		  margin-top: 0px;
	  }
/***** Professional Development END *****/

/***** Training *****/
/* Hero */
div#training-hero-textbox {
		background: #4776BF;
		background: rgba(68, 118, 191, 0.6);
		width: 80%;
}
p#training-hero-text {color:white;
		text-transform: uppercase;
		text-align: center;
		line-height: 150%;
		font-size: 1.5em; 
		}
div#training-hero{
			background-color: gray;
			background-image: url(/images/training-hero.jpg);
background-repeat: no-repeat;
			height: 200px;
			background-size:cover;
}
/* Event Calendar Schedular Styles */
		div.calendar-month {
		background-color:rgb(197, 170, 99);
		border:1px solid #C5AA63;
		color: black;
		font-weight: bold;
		display:block;
		padding: 5px;
		width: 3.5rem;
		text-align: center;
			text-transform: uppercase;
}
		div.calendar-date {
		background-color:white;
		color: black;
		font-weight: bolder;
		display:block;
		padding: 5px ;
		width: 3.5rem;
			text-align: center;
		}
		div.calendar-icon-container {
			display:block;
			float:left;
			margin-right: 20px;
			height: 8rem;
		}

	div.colorstrip{
			width: 100%; height: 200px;
    background-color: #4776bf;
		background-repeat:repeat-x;
		color: white;
}
body {background-color: #fafafa;
}
a#cta{
	background-color:#FFD65C; color: black; border-color: #FFD65C;
}
	div.footer{
		width: 100%; height: 350px;
    	background-color: #4776bf;
		color: white;
		background-repeat: repeat;
}
/***** Training END *****/




